$white: white;
$dark-red: #a51818;
$light-red: #cd0000;
$link:blue;
$active-link: lightblue;
$basic-text: black;
$transition: white;
$shadow: rgba(0, 0, 0, 0.8);


//
$heading: rgb(216, 2, 2);
$nav-bar: rgb(224, 115, 38);
$contact-link: rgb(2, 2, 87);