$theme-colour1: blanchedalmond;
$theme-colour2: red;
$heading-colour: rgb(216, 2, 2);
$nav-bar-colour: rgb(224, 115, 38);
$link-colour: black;
$contact-link-colour: darkred;
$active-link-colour: blue;
$transition-colour: white;
$shadow-colour: rgba(0, 0, 0, 0.8);