body {
    background-color: red;
    font-family: 'Helvetica';}

header {
    padding: 20px;
    text-align: center;
}

header, h2 {
    background-color: blanchedalmond;
}

header h1, h2 {
    color: rgb(216, 2, 2);
}

div > h1{
    padding: 20px;
}

.nav-bar {
    background-color: rgb(224, 115, 38);
    text-size-adjust: 180;
}

a#contact + a {
color: darkred;
font-style: italic;
}

a:link {
    color: black;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: blanchedalmond;
}

a:active {
    color: blue;
}

iframe {
    width: 560px;
    height: 315px;
}

.iframe {
    text-align: center;
}

p {
        color: blanchedalmond;
}

.image {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
}

#one, #three {
    width: 470px;
}

#two {
    width: 300px;
}



