@import '_colours.scss';
@import '_mixins.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $theme-colour2;
    font-family: 'Helvetica';
}

// header {
//     @include heading(center);
//     font-size: 1em;
// }

.grid-wrapper {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    // grid-gap: 1rem;
    grid-template-areas:
        'logo welcome'
        'logo button';
    text-align: center;
    .logo {
        grid-area: logo;
    //  width: 525px; // 200px;
        margin: 50px;
//      // align-content: left;
//      // display: grid;
//      transition: 1s ease-in-out 0.5s;
//      &:hover {
//         width: 630px;
//      }
    }
    .welcome {
        grid-area: welcome;
        // display: flex;
        padding-top: 3em;
        font-size: 2rem;
    }
    .button {
        grid-area: button;
        button {
            font-size: 5rem;
            display: inline-block;
        }
    }
}

header h1, h2 {
    color: $heading-colour;
}

header, h2 {
    background-color: $theme-colour1;
}

.nav-bar {
    display: none;
    // visibility: hidden;
    //add shadow
}

a#contact + a {
    color: $contact-link-colour;
    font-style: italic;
}

a {
    &:link {
        color: $link-colour;
        transition-property: font-size;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }
    &:hover {
        font-weight: bold;
        font-size: 1.2em;
    }
    &:visited {
        color: $theme-colour1;
    }
    &:active {
        color: $active-link-colour;
    }
}

iframe {
    width: 100vw;
    height: 56.25vw; /* 315px/560px = 0.5625 */
    // max-width: 700px;
    // width: 560px;
    // height: 315px;
}

h2 {
    padding: 3px 15px;
    &:hover {
        @include animation(h2, 3s);
    } //add shadow
}

@keyframes h2 {
    0% {background-color: $theme-colour1;}
    100% {background-color: $transition-colour;}
}

p {
    color: $basic-text;
    padding: 10px 15px;
}

.image {
    display: block;
    border-radius: 20px;
    box-shadow: 0 6px 20px 0 $shadow-colour;
    width: 90vw;
    margin: auto;
    // margin-right: 10px;
    // margin-bottom: 35px;
    &:hover {
        @include animation(corners, 1s);
    }
}

@keyframes corners {
    0% {border-radius: 20px;}
    100% {border-radius: 0px;}
}

// #one, #three {
//     // width: 450px;
// }

// #two {
//     // width: 300px;
// }

@media only screen and (min-width: 600px) {

    button {
        visibility: hidden;
        display: none;
    }
    
    .nav-bar {
        display: block;
        background-color: $nav-bar-colour;
        height: 28px;
        // text-size-adjust: 180;
        a {
            padding-left: 25px;
        }
    }
}

@media only screen and (min-width: 991px) {   
    .iframe {
        text-align: center;
        max-width: 991px;
    }
    .image {
        max-width: 892px;
    }
}