@font-face {
  font-family: 'Bernard';
  src: local("Monotype Bernard Std Condensed"), local("Bernard MT Std Condensed"), url("Bernard MT Std Condensed.ttf") format("truetype");
}

@font-face {
  font-family: 'Fabrikat';
  src: local("Fabrikat Normal Regular"), url("Fabrikat Normal Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Magneto';
  src: local("Magneto-Grassetto"), local("magneto-grassetto"), local("Magneto"), local("magneto"), url("magneto-grassetto.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Fabrikat;
  background-color: #a51818;
  min-height: 100vh;
}

header {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 10px 54vw 1fr 18px;
      grid-template-rows: 10px 54vw 1fr 18px;
      grid-template-areas: 'top top' 'logo button' 'motto motto' 'phone phone';
}

.grid-wrapper .logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid-wrapper .logo #logo {
  width: 50vw;
  max-width: 200px;
}

.grid-wrapper .nav {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: left;
  position: relative;
}

.grid-wrapper .nav .button {
  position: absolute;
  top: 50;
  right: 0;
  width: 50px;
  height: 42px;
  opacity: 0;
  cursor: pointer;
}

.grid-wrapper .nav .button:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

.grid-wrapper .nav .button:checked ~ .fa-bars:before {
  content: '\f00d';
}

.grid-wrapper .nav button {
  font-size: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-wrapper .nav .menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 100vh;
  font-weight: bold;
  background-color: #a51818;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.grid-wrapper .nav .menu li {
  padding-top: 60px;
  font-size: 1.3rem;
}

.grid-wrapper .nav .menu li a:visited {
  color: blue;
}

.grid-wrapper .motto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: motto;
  padding-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-wrapper .motto h1 {
  font-family: Bernard;
  color: #cd0000;
}

.grid-wrapper .phone {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phone;
  background-color: #cd0000;
  font-family: Fabrikat;
  border: 5px solid #a51818;
  border-left: none;
  border-right: none;
  height: 40px;
  padding: 3px;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-wrapper .phone a, .grid-wrapper .phone span {
  color: white;
}

.grid-wrapper .phone span {
  display: none;
}

.nav-bar {
  display: none;
}

main {
  background-image: url("https://restaumatic.imgix.net/uploads/media_library/8ed5781b65c580d35cfda9741be8c13e.png");
}

#about-us {
  text-align: center;
}

#about-us iframe {
  width: 90vw;
  height: 50.625vw;
}

.location {
  text-align: center;
}

.location p {
  font-size: 1.3rem;
}

.location iframe {
  width: 90vw;
  height: 67.5vw;
}

h2 {
  padding: 3px 30px;
  font-family: magneto;
  border: 4px solid black;
  border-left: none;
  border-right: none;
  background-image: url("../images/bg_tile.png");
}

p {
  color: black;
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 35px;
}

.image {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 90vw;
  margin: auto;
}

.image:hover {
  -webkit-animation-name: corners;
          animation-name: corners;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes corners {
  0% {
    border-radius: 20px;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes corners {
  0% {
    border-radius: 20px;
  }
  100% {
    border-radius: 0px;
  }
}

.food-menu-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.food-menu-wrapper > .item {
  background-color: #cd0000;
}

.food-menu-wrapper > .item > .menu-image {
  height: 200px;
  background-size: cover;
  background-position: center center;
}

footer {
  background-color: #a51818;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .grid-wrapper {
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
    -ms-grid-rows: 210px 40px 40px;
        grid-template-rows: 210px 40px 40px;
        grid-template-areas: 'logo motto' 'phone phone' 'nav nav';
  }
  .grid-wrapper button {
    display: none;
    position: absolute;
  }
  .grid-wrapper .motto {
    padding-top: 63px;
    text-align: center;
  }
  .grid-wrapper .phone {
    text-align: left;
    padding-left: 30px;
  }
  .grid-wrapper .phone a {
    display: none;
  }
  .grid-wrapper .phone span {
    display: block;
  }
  .grid-wrapper .nav-bar {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 30px;
    padding-left: 5px;
    border-bottom: 4px solid #a51818;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 33px;
  }
  .grid-wrapper .nav-bar a {
    padding-left: 25px;
    font-size: large;
  }
  .grid-wrapper .nav-bar a:link {
    color: blue;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  .grid-wrapper .nav-bar a:hover {
    font-weight: bold;
    font-size: 1.2em;
  }
  .grid-wrapper .nav-bar a:visited {
    color: purple;
  }
  .grid-wrapper .nav-bar a:active {
    color: lightblue;
  }
  iframe {
    max-width: 700px;
    max-height: 393px;
  }
  .image {
    max-width: 700px;
  }
  .food-menu-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .food-menu-wrapper .item {
    padding: 6px 10px;
  }
}

@media only screen and (min-width: 991px) {
  .food-menu-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */