body {
    background-color: red;
    color: rgb(216, 2, 2);
}

header {
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Helvetica';
}

section {
    background-color: rgb(224, 115, 38);
    text-size-adjust: 180;
}

iframe {
    width: 560px;
    height: 315px;
}

div /*for the iframe*/ {
    text-align: center;
}

.image {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
}

#one, #three {
    width: 470px;
}

#two {
    width: 300px;
}

.contact {
    background-color: blanchedalmond;
}