@import '_colours.scss';
@import '_mixins.scss';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: 'Bernard';
    src: local('Monotype Bernard Std Condensed'), 
        local('Bernard MT Std Condensed'), 
        url('Bernard MT Std Condensed.ttf') 
        format('truetype');
}

@font-face {
	font-family: 'Fabrikat';
    src: local('Fabrikat Normal Regular'), 
        url('Fabrikat Normal Regular.otf') 
        format('opentype');
}

@font-face {
	font-family: 'Magneto';
    src: local('Magneto-Grassetto'), 
        local('magneto-grassetto'), local('Magneto'), 
        local('magneto'), url('magneto-grassetto.ttf') 
        format('truetype');
}

body {
    min-height: 100vh;
//     background-color: $theme-2;
//     font-family: 'Helvetica';
}

header {
    // @include heading(center);
    background-color: $white;
    // justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    // 250px 45fr 11fr;
    grid-template-rows: 10px 54vw 1fr 18px;
    grid-template-areas:
        'top top'
        'logo button'
        'motto motto'
        'phone phone';
    // text-align: center;

    // .top {
    //     grid-area: top;
    //     height: 5vw;
    // }

    .logo {
        grid-area: logo;
        // padding: 15px 15px;
        align-self: center;
        // max-height: 10px;
//      transition: 1s ease-in-out 0.5s;
//      &:hover {
//         width: 630px;
//      }

        #logo {
            width: 50vw;
            max-width: 250px;
        }
    }
    
    .nav {
        grid-area: button;
        // display: flex;
        align-items: center;
        justify-self: center;
        // justify-self: end;
        position: relative;

        .button {
            position: absolute;
            top: 0;
            right: 0;
            width: 28px; //?
            height: 30px; //?
            opacity: 0;
            cursor: pointer;

            &:checked {
                ~ .menu {
                    transform: none;
                }

                ~ .fa-bars:before {
                    content: '\f00d';
                }
            }
        }
        
        button {
            font-size: 2.5rem;
            padding-left: 10px;
            padding-right: 10px;
            // margin-left: 20px;
            // margin-right: 10px;
        }

        .menu {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 280px;
            height: 100vh;
            background-color: #777;
            transform: translateX(-100%);
            transition: transform 0.2s ease-in-out;
        }

        .fa-bars {
            font-size: 2rem;
        }
    }

    .motto {

        // h1 {
        //     margin-top: 50vw;
        // }

        grid-area: motto;
        // display: flex;
        padding-bottom: 15px;
        // font-size: 1rem;
        align-items: center;
        justify-content: center;
    }

    .phone {
        grid-area: phone;
        background-color: $light-red;
        font-family: Fabrikat;
        border-color: $dark-red;
        border-top-width: 15px;
        height: 40px;
        padding: 7px;
        font-size: 1.2rem;
        justify-content: center;    

        a {
            color: $white;
        }
    }
}

header, h2 {
    background-color: $white;
}

h1 {
    font-family: Bernard;
    color: $light-red;
}

h2 {
    font-family: magneto;
    background-image:url('images/bg_tile.png');
}

// h1, h2 {
    // font-family: Monotype Bernard Std Condensed;
    // border-color: royalblue;
    // outline: royalblue;
// }

.nav-bar {
    display: none;
    position: absolute;
    // text-size-adjust: 180;
    // add shadow
}

iframe {
    width: 100vw;
    height: 56.25vw; /* 315px/560px = 0.5625 */
    // max-width: 700px;
    // width: 560px;
    // height: 315px;
}

h2 {
    padding: 3px 15px;
    // &:hover {
    //     @include animation(h2, 3s);
    // } 
    //add shadow
}

// @keyframes h2 {
//     0% {background-color: $theme-1;}
//     100% {background-color: $transition;}
// }

p {
    color: $basic-text;
    padding: 10px 15px;
}

.image {
    display: block;
    border-radius: 20px;
    box-shadow: 0 6px 20px 0 $shadow;
    width: 90vw;
    margin: auto;
    // margin-right: 10px;
    // margin-bottom: 35px;

    &:hover {
        @include animation(corners, 1s);
    }
}

@keyframes corners {
    0% {border-radius: 20px;}
    100% {border-radius: 0px;}
}

// #one, #three {
//     // width: 450px;
// }

// #two {
//     // width: 300px;
// }




@media only screen and (min-width: 600px) {
    .grid-wrapper {
        grid-template-columns: 250px 1fr 0px;
    }
    
    button {
        // visibility: hidden;
        display: none;
        position: absolute;
    }
    
    .nav-bar {
        display: block;
        background-color: $nav-bar;
        height: 33px;
        padding: 5px;
        // text-size-adjust: 180;
        // add shadow

        a {
            padding-left: 25px;
            font-size: large;

            &:link {
                color: $link;
                transition-property: font-size;
                transition-duration: 0.4s;
                transition-timing-function: linear;
            }

            &:hover {
                font-weight: bold;
                font-size: 1.2em;
            }

            &:visited {
                color: purple;
            }
            
            &:active {
                color: $active-link;
            }
        // a#contact + a {
        //     color: $contact-link;
        //     font-style: italic;
        // }
        }
    }
}


@media only screen and (min-width: 991px) {
    iframe {
        max-width: 991px;
        max-height: 558px;
    }

    .iframe {
        text-align: center;
    }

    .image {
        max-width: 892px;
    }
}